<div>
  <section class="dj-list-header">
    <div>Timeslots</div>
    <div>MM/DD/YYYY</div>
  </section>
  <section class="dj-list"></section>
  <section class="dj-list-button-container">
    <div>
      <input
        class="dj-list-button"
        type="button"
        id="logoutButton"
        name="logoutButton"
        value="Log Out"
        style="cursor: pointer"
        onclick="window.location='/'" />
    </div>
  </section>
</div>
