<div style="padding: 2em">
          <section class="dj-list-header">
            <div>DJ Name</div>
            <div>Timeslot: 12-1:00</div>
            <div>MM/DD/YYYY</div>
          </section>
          <section class="dj-list">
          </section>
          <section class="dj-list-button-container">
            <div>
              <input
                class="dj-list-button"
                type="button"
                id="backButton"
                name="backButton"
                value="Back"
                style="cursor: pointer"
                onclick="window.location='/dj/home'" />
            </div>
            <div></div>
            <div style="text-align: right">
              <input
                class="dj-list-button"
                type="button"
                id="addSongButton"
                name="addSongButton"
                value="Add Song"
                style="cursor: pointer"
                onclick="window.location='/dj/add-song'" />
            </div>
          </section>
        </div>