<section>
  <section class="dj-list-header">Search Result</section>
  <section class="dj-list"></section>
  <section class="dj-list-button-container">
    <div>
      <input
        class="dj-list-button"
        type="button"
        id="addSongButton"
        name="addSongButton"
        value="Add Song"
        style="cursor: pointer" />
    </div>
  </section>
  <br />
</section>
