html,
body {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.grid-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: rgb(28, 55, 105);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
}
.grid-header h1 {
  margin: 0;
  font-size: 2rem;
}
.grid-header .right {
  justify-self: end;
  display: flex;
  gap: 1rem;
}

.grid-header > * {
  min-width: 0;
}

footer {
  text-align: center;
  background-color: darkgrey;
  padding: 5px;
  color: black;

  bottom: 0;
  width: 100%;
  position: fixed;
}
